doctype html
html 
  head
    meta(name='viewport' content='width=device-width')
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    title= subject
    include _style1
  body
    div.email-confirmation 
      .mb-5 
      .text-center

      div.email-confirmation-card
        p Hi #{firstName},
        div.email-confirmation-container
            h5 Verify your mail address
            p.email-confirmation-p1 Please click the button below to confirm your email address
        div.email-confirmation-header
            a(href=`${url}`, target='_blank').email-confirmation-btn 
              .text-center Confirm email address
        p.email-confirmation-p2 If you didn't signup with fundmylaptop, please ignore this email!